{% extends 'apps/parts/layout.html' %}
{% load static %}
{% block body_content %}
    <!--============= Sign In Section Starts Here =============-->
    <div class="account-section bg_img" data-background="{% static 'apps/assets/images/account-bg.jpg' %}">
        <div class="container">
            <div class="account-title p-5"></div>
            <div class="account-wrapper">
                <div class="account-body p-5">
                    <h1 class="title text-danger">Page Not Found #404</h1>
                </div>
            </div>
        </div>
    </div>
    <!--============= Sign In Section Ends Here =============-->
{% endblock %}